* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.menu-details {
    max-width: 1000px;
    margin-left: 350px;
    margin-top: 100px;
    padding: 16px;
  }
  
  .titleM {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
    color: white;
  }
  
  .menu-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
  }
  
  .table-header, .table-cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .menu-image {
    width: 100px;
    height: auto;
  }
  
  .edit-button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    width: 200px !important;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px !important;
    margin-left: -1px;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  