/* Container for the reports section */
.reports-container {
  padding: 20px;
  margin-top: -60px;
  left: 200px;
  width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Header of the reports section */
.reports-header {
  font-size: 1.8em;
  color: #ffffff;
  text-shadow: 3px 2px #444444;
  margin-bottom: 20px;
}

/* Button styling */
.report-button {
  background-color: #B3A06D; /* Blue */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.report-button:hover {
  background-color: #756c51; /* Darker blue */
}

/* Chart container styling */
.chart-container {
  margin: 20px 0;
}

/* Print button styling */
.print-button {
  background-color: #28a745; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.print-button:hover {
  background-color: #218838; /* Darker green */
}

@media print {
  .reports-container {
    width: 100%; /* Ensure full width */
    margin: 0; /* Remove margins that could cause cropping */
    padding: 1in; /* Add padding as needed */
  }

  .chart-card {
    width: 100%; /* Ensure the card uses full available width */
    max-width: 100%; /* Prevent overflow */
    margin: 0; /* Remove any margins that could cause overflow */
    page-break-inside: avoid; /* Avoid page breaks inside the card */
  }

  /* Ensure that no element goes beyond the page width */
  * {
    box-sizing: border-box; /* Include padding and border in element width */
  }
}

