.headerHR {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  background-color: #272727 !important; /* Dark background for the header */
  padding: 15px !important;
  color: white !important;
  height: 80px !important; /* Ensure consistent height */
  width: calc(100% - 270px) !important; /* Adjust width to fit content */
  position: fixed !important;
  
  left: 240px !important; /* Adjust according to sidebar width */
  z-index: 12 !important; /* Ensure it stays above other content */
  border-radius:0px 20px 20px 0px;
}

.logo img {
  height: 50px; /* Adjust the size of the logo as needed */
}

.nav-links {
  display: flex;
  gap: 20px; /* Adjust space between links */
  font-size: 14px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px; /* Rounded corners for better appearance */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links a:hover {
  color: #d4af37; /* Gold color on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Subtle background change on hover */
}

.nav-links a.active {
  font-weight: bold;
  color: #d4af37; /* Gold color for the active tab */
  background-color: rgba(255, 255, 255, 0.2); /* Slight background change for active tab */
}

.user-icon img {
  height: 30px; /* Adjust the size of the user icon as needed */
}
