.dashboard-layoutO {
    display: flex;
    height: 100vh;
    width: 1530px;
  }
  
  .dashboard-contentO {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-containerO {
    flex-grow: 1;
    padding: 1rem;
    background-color: #f4f4f4;
    background-image: url('../../../Images/oBack.jpg');
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
  }
  