.leave-request-form-container {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cardL {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-x: auto;
  width: 700px; 
  margin-left: -50px;
  margin-top: 100px;
}
.cardR {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-x: auto;
  width: 1000px; 
  margin-left: -200px;
  margin-top: 100px;
}

.leave-request-form-title {
  color: #1f2937;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.leave-request-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #4b5563;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.submit-button {
  background-color: #B3A06D; 
  color: white; 
  font-weight: 600; 
  padding: 0.5rem 1rem;
  border: none; 
  border-radius: 0.25rem; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.submit-button:hover {
  background-color: #706547;
}

.leave-requests-title {
  color: #1f2937;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.leave-requests-table {
  width: 100%;
  border-collapse: collapse;
}

.leave-requests-table th,
.leave-requests-table td {
  padding: 1rem;
  border: 1px solid #e5e7eb;
  text-align: left;
}

.leave-requests-table th {
  background-color: #f3f4f6;
  font-weight: 700;
}

.leave-requests-table tr:nth-child(even) {
  background-color: #f9fafb;
}

.leave-requests-table tr:hover {
  background-color: #f1f5f9;
}
