/* src/modules/employees/components/Employee/LeaveRequestForm.css */

.leave-request-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .leave-request-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .leave-request-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input[type="date"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-group textarea {
    height: 100px;
    resize: vertical;
  }
  
 .submit-button {
    background-color: #B3A06D;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #00ff2f;
  } 
  