.container {
    max-width: 500px;
    margin-left: 500px;
    margin-top: 150px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .formGroup {
    margin-bottom: 16px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    background-color: #e3342f;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #cc1f1a;
  }
  