.profile-container-unique {
  width: 1530px;
  margin-top: 80px;
  
  height: 90vh;
  background-color: #ffffff; /* Light background for better readability */
  box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.1);
  background-image:linear-gradient(rgba(180, 175, 175, 0.8), rgba(22, 22, 22, 0.8)), url('./../../Images/b.jpg');
  background-size: cover;

}

.profile-content {
  background-color: #ffffff;
  width: 500px;
  padding: 40px;
  margin-top: 100px;
  margin-left: 470px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.1);
}
.btn-editL{
  background-color: #084201; /* Primary color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
}
.btn-logout {
  background-color: #ffa600; /* Primary color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px; /* Space between buttons */
}
.btn-feedback{
  background-color: #007bff; /* Primary color */
  color: white;
  margin-top: 50px !important;
  border: none;
  margin-left: -100px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px; /* Space between buttons */
}
.btn-logout:hover{
  background-color: #0056b3; /* Darker shade on hover */
}
.btn-feedback:hover{
  background-color: #0056b3;
}