.homepage {
    background-color: #ffffff;
    height: 100vh;
    width: 1520px;
    
  }
  
  .hero-section {
    background-size: cover;
    background-position: center;
    height: 24rem;
    background-image: url('./../../Images/4.jpg');
  }
  
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .book-now-btn {
    background-color: #f97316;
    color: white;
    font-weight: bold;
    width: 300px;
    margin-left: -900px;
    margin-top: 250px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    box-shadow:0 0 8px 2px #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .book-now-btn:hover {
    background-color: #ea580c;
  }
  
  .booking-confirmation {
    text-align: center;
    margin-top: 1rem;
  }
  
  .confirmation-text {
    font-size: 1.125rem;
    font-weight: bold;
  }
  
  .content {
    max-width: 1200px;
    margin: 1rem auto;
    padding: 1rem;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    flex: 1;
  }
  
  .card-image {
    width: 300px;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  
  .card-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .card-description {
    color: #4b5563;
    margin-top: 0.5rem;
  }
  