/* src/components/Navbar/navbar.css */

.nav-containerR {
    background-color: #866a1d; /* Blue color */
    color: #ffffff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }
  
  .nav-left {
    display: flex;
    justify-content: space-between;
    margin-left: 610px;
  }
  
  .nav-title {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    margin-right: 16px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin-right: 16px;
  }
  
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem; /* 16px */
  }
  
  .nav-link:hover {
    color: #e5e7eb; /* Light gray */
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .btn {
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 0.875rem; /* 14px */
  }
  
  .login-btn {
    background-color: #f97316; /* Orange */
    margin-right: 16px;
  }
  
  .login-btn:hover {
    background-color: #ea580c; /* Darker orange */
  }
  
  .register-btn {
    background-color: #ef4444; /* Red */
  }
  
  .register-btn:hover {
    background-color: #dc2626; /* Darker red */
  }
  