* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.dashboard-layoutM {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; /* Adjust as needed */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #272727; /* Adjust as needed */
  overflow-y: auto; /* Handle overflow if necessary */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.dashboard-contentM {
  margin-left: 470px; /* Same as sidebar width */
  width: calc(100% - 250px); /* Full width minus sidebar */
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 200px !important; /* Same as sidebar width */
  right: 0;
  height: 60px; /* Adjust as needed */
  background-color: #272727 !important; /* Adjust as needed */
  display: flex;
  height: 11vh;
  border-radius: 20px;
  align-items: center;
  padding: 0 20px; /* Adjust as needed */
   /* Optional shadow */
  z-index: 1000; /* Ensure it's above other content */
}

.dashboard-containerM {
  background-image: url('../employees/Images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* Full height minus header height */
  width: 1350px; /* Full width minus sidebar */
  margin-left: -260px; /* Same as sidebar width */
  padding: 40px;
  position: relative;
  overflow: auto;
  z-index: 1;
}

.dashboard-containerM::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(160, 160, 160, 0.8);
  z-index: 1;
}

.dashboard-containerM > * {
  position: relative;
  z-index: 2;
  top: 100px !important;
  color: #000;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dashboard-containerM {
    background-position: center top;
  }
}

@media (max-width: 480px) {
  .dashboard-containerM {
    background-size: contain;
    background-position: center;
  }
}

.dashboard-containerM h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.dashboard-containerM a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.dashboard-containerM a:hover {
  text-decoration: underline;
}
