/* Path: restaurant/components/Menu/menu.css */
/* Path: restaurant/components/Menu/menu.css */
.menu {
    padding: 20px;
    
    width: 1520px;
    background-color: rgb(255, 255, 255);
    padding: 0;
  }
  .orderNbtn{
    background: #f76f00;
    width: 200px;
    margin-left: 300px;
    
  }
  .orderNbtn:hover{
    background-color: #f7b500;
  }
  .menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
  }
  
  /* Path: restaurant/components/Menu/menuItem.css */
  .menu-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 470px;
  }
  
  .menu-item img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    width: 600px;
  }
  
  .menu-item h3 {
    margin: 10px 0;
    font-size: 1.5rem;
  }
  
  .search-btn{
    display: flex;
  }
  