.bform-container{

}
.bform-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-image: url("./../image/image3.png");
    background-size: cover;
    z-index: -1; 
    height: 100vh;
    filter: blur(5px); 
    transform: scale(1.1);
  }

.booking-form-event {
    background-color: white;
    padding: 24px;
    width: 800px;
    margin-left: 350px;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .booking-form-event label {
    margin-top: 12px;
    font-weight: bold;
  }
  
  .booking-form-event input {
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .booking-form-event input, .event-select-wrapper {
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;  /* Ensure padding does not affect width */
}

  .event-select-wrapper {
    position: relative;
  }

  .booking-form-event select {
    appearance: none; /* Removes the default dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none; /* Remove default border */
    background-color: transparent; /* Transparent background for select */
    padding: 8px;  /* Same padding as input */
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

 .event-select-wrapper::after {
  content: '▼'; /* Custom dropdown arrow */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
  color: #333; /* Custom arrow color */
}
  
  .booking-form-event button {
    background-color: #007bff;
    color: white;
    padding: 10px 14px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  