/* EmployeeLogin.css */

.containerEmployeeLogin {
    width: 1530px;
    height: 100vh;
    background-image: linear-gradient(rgba(19, 19, 19, 0.8), rgba(50, 28, 0, 0.8)), url(Images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-boxEmployeeLogin {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px 50px 30px;
    text-align: center;
    border-radius: 50px;
}

.form-titleEmployeeLogin {
    font-size: 30px;
    margin-bottom: 60px;
    color: #f0a402;
    position: relative;
}

.input-groupEmployeeLogin {
    margin-bottom: 15px;
}

.input-fieldEmployeeLogin {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.btn-fieldEmployeeLogin {
    width: 100%;
    display: flex;
    justify-content: center;
}

.employee-login-button {
    width: 60%;
    background: #f0a402;
    color: #fff;
    height: 50px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.employee-login-button:hover {
    background: #999;
}

.error-messageEmployeeLogin {
    color: red;
    font-weight: bold;
    margin-bottom: 10px; /* Add some spacing below the error message */
}

.mlog{
    
    padding: 10px;
    font-size: 12px;
    color: black;
}
.lo{
margin-top: 10px;
}