/* ManagerLoginPage.css */

.containerManagerLogin {
    width: 1530px;
    height: 100vh;
    background-image: linear-gradient(rgba(19, 19, 19, 0.8), rgba(50, 28, 0, 0.8)), url(Images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-boxManagerLogin {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px 50px 30px;
    text-align: center;
    border-radius: 50px;
}

.form-titleManagerLogin {
    font-size: 30px;
    margin-bottom: 30px;
    color: #f0a402;
    position: relative;
}

.input-groupManagerLogin {
    margin-bottom: 15px;
}

.input-fieldManagerLogin {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.btn-fieldManagerLogin {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-fieldManagerLogin input {
    width: 60%;
    background: #f0a402;
    color: #fff;
    height: 50px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-fieldManagerLogin input:hover {
    background: #999;
}

.success-messageManagerLogin {
    color: green;
    font-weight: bold;
}

.error-messageManagerLogin,
.login-errorManagerLogin {
    color: red;
    font-weight: bold;
}

.form-textManagerLogin {
    text-align: center;
    font-size: 13px;
    padding-top: 20px; /* Adjusted spacing */
}

.form-textManagerLogin a {
    text-decoration: none;
    color: #3c00a0;
}
