/* restaurant/styles/AboutUs.module.css */
.container {
    
    margin: auto;
    width: 1530px;
    
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 16px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  
  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 1300px;
    height: 80vh;

    border-radius: 8px;
  }
  
  .textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
  }
  
  .button {
    background-color: #f97316;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ea580c;
  }
  
  .moreText {
    font-size: 1rem;
    color: #666;
    margin-top: 16px;
  }
  
  .infoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 32px;
  }
  
  .infoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .smallImage {
    width: 70%;
    height: 50vh;
    border-radius: 8px;
  }
  
  .infoText {
    font-size: 1rem;
    color: #666;
    margin-top: 8px;
    margin-bottom: 300px;
  }
